body{
	margin: 0;
	padding: 0;
	background: url('/assets/RegisterPage.jpg');
	background-size: cover;
	background-position: center;
	font-family: sans-serif;
}

.registerbox{
	width: 330px;
	height: 600px;
	background: #000;
	color: #fff;
	top: 50%;
	left: 50%;
	position: absolute;
	transform: translate(-50%, -50%);
	box-sizing: border-box;
	padding: 65px 30px;
	opacity: 80%;
}

.avatar{
	width: 100px;
	height: 100px;
	border-radius: 55%;
	position: absolute;
	top: -50px;
	left: calc(50% - 50px);
}

h1{
	margin: 0;
	padding: 0 0 20px;
	text-align: center;
	font-size: 22px;
}

.registerbox p{
	margin: 0;
	padding: 0;
	font-weight: bold;
}

.registerbox input{
	width: 100%;
	margin-bottom: 20px;
}

.registerbox input[type="text"], input[type="password"], input[type="email"]{
	border: none;
	border-bottom: 1px solid #fff;
	background: transparent;
	outline: none;
	height: 40px;
	color: #fff;
	font-size: 16px;
}

.registerbox input[type="submit"]{
	border: none;
	outline: none;
	height: 40px;
	background: #0492c2;
	font-size: 18px;
	color: #fff;
	border-radius: 20px;
}

.registerbox input[type="submit"]:hover{
	cursor: pointer;
	background: #fff;
	color: #0492c2;
}

.registerbox a{
	text-decoration: none;
	font-size: 12px;
	line-height: 20px;
	color: darkgrey;
}

.registerbox a:hover{
	color: #0492c2;
}

.navbar{
	height:50px;
	opacity: 80%;
	background-color: transparent;
}
  
  .navbar-text{
	float: right;
	padding: 15px;
	font-size: 17px;
	font-weight: 900;
	font-family: 'Courier New', Courier, monospace;
	color: #fff;
}
.navbar-text:hover{
	color: lightblue;
	text-decoration: none;
}
  
a{
	  text-decoration:none;
}